@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
:root{
    --font-size: 16px;
    --White: #F7F7F7;
    --Black: #111;
    --Orange: #FEA301;
    --Sky-Blue: #01ACFD;
    --Paste-green: #05D4DF;
    --Purple: #5D58EF;
}
body{
    background: var(--White);
    margin: 0px auto;
}
header,
main {
    /* max-width: 1440px; */
    /* padding-left: 10px;
    padding-right: 10px; */
    margin: 0px auto;
}
header{
    padding-left: 10px;
    padding-right: 10px;
}

/* Common Styles */
.btn{
    color: #FFF;
    width: 196px;
    border-radius: 12px;
    border: none;
    padding: 10px;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
    cursor: pointer;
}
.mid-titles{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 2.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 57.5px; /* 125% */
}
.images{
    max-width: 100%;
}
.flex{
    display: flex;
}
.no{
    display: none;
}

/* Navbar */
.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    max-width: 1160px;
}
.left-nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-title{
    color: var(--Black);
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
}
.Menu{
    display: none;
}
.middle-nav{
    display: flex;
    gap: 32px;
}
.middle-nav a{
    text-decoration: none;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
.middle-nav a:hover {
    text-decoration: underline;
    transition: text-decoration 0.3s ease;
    /* background: rgba(255, 215, 0, 0.1); */
    padding: 4px 7px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.middle-nav a:nth-child(1) {
    color: var(--Orange);
    font-weight: 700;
}
.middle-nav a:nth-child(2) {
    color: var(--Sky-Blue);
}
.middle-nav a:nth-child(3) {
    color: var(--Paste-green);
}
.middle-nav a:nth-child(4) {
    color: var(--Purple);
}
.Nav-btn{
    background: var(--Orange);
    /* transition: background-color 1s; */
}
.Nav-btn:hover {
    background: linear-gradient(90deg, var(--Purple), var(--Paste-green));
}

/* Banner Styles */
.banner{
    max-width: 1160px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.banner-description,
.banner-txt{
    max-width: 640px;
}
.banner-title{
    color: var(--Black);
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 61px; /* 108.929% */
}
.banner-title span:nth-of-type(1) {
    color: #FEA301;
}
.banner-title span:nth-of-type(2) {
    color: #01ACFD;
}
.banner-btn{
    background: var(--Black);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease-in-out;
}
.banner-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: radial-gradient(circle, var(--Purple), var(--Paste-green));
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.6s ease, height 0.6s ease;
    z-index: -1;
}
.banner-btn:hover {
    color: #000;
}
.btn:hover::after {
    width: 300px;
    height: 300px;
}
.banner-txt{
    color: var(--Black, #111);
    font-size: 1.5rem;
    margin: 24px 0;
}
.banner-image:hover{
    /* scale: 101%; */
    transform: scale(1.01);
}

/* Curriculum Styles */
.curriculum{
    max-width: 1160px;
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 80px;
    background-image: url(../Images/bg.png);
    background-size: 95%;
}
.curriculum-title{
    /* margin-top: 60px; */
    margin-bottom: 80px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* max-width: 1160px; */
    padding: 0px 10px;
    margin: 0 auto;
}
.edu-card{
    border-radius: 18.864px;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    padding: 40px;
    justify-items: center;
    height: 481px;
    /* max-width: 367px; */
}
.edu-card:hover {
    transform: scale(1.01);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.10);
    background-color: rgba(255, 255, 255, 0.95);
}
.blue-card{
    border: 0.943px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}
.yellow-card{
    border: 0.943px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}
.purple-card{
    border: 0.943px solid #F2E8FF;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}
.card-image{
    max-width: 100%;
}
.card-title{
    color: #202020;
    text-align: center;
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30.654px;
    margin: 32px 0;
}
.card-txt{
    color: #808080;
    text-align: center;
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28.296px;
    margin: 32px 0;
}
.card-btn{
    color: #64C8FF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: 28.296px;
    border: none;
    cursor: pointer;
    background: none;
}
.card-btn:hover{
    text-decoration: underline;
    transition: text-decoration 0.3s ease;
}
.blue-btn{
    color: #64C8FF;
}
.yellow-btn{
    color: #F0AA00;
}
.purple-btn{
    color: #8700FF;
}

.direction{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;
    /* margin-bottom: 80px; */
}
.symbol{
    background-color: var(--Orange);
    border-radius: 30px;
    padding: 19px 23px;
}
.symbol:hover{
    background: linear-gradient(0deg, var(--Purple), var(--Paste-green));
}

/* Marquee */
.marquee-container {
    max-width: 1160px;
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(254, 163, 1, 0.8), rgba(255, 215, 0, 0.8));
    padding: 10px 0;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 50px;
}

.marquee-text {
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}


/* Stories */
.stories{
    background: linear-gradient(0deg, rgba(254, 163, 1, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%), url(../Images/bg.png);
    background-blend-mode: overlay; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    justify-items: center;
}
.stories-title{
    /* margin-top: 60px; */
    margin-bottom: 80px;
}
.stories-card-container{
    max-width: 1160px;
    margin: 0px auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.big-card{
    border-radius: 16px;
    background-color: #FFF;
}
.big-card > .images{
    border-radius: 16px 16px 0px 0px;
}
.big-card-desc{
    padding: 60px 38px 34px 38px;
}
.big-card-title{
    max-width: 402px;
    margin-bottom: 50px;
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 35px; /* 159.781% */
}
.big-card-txt{
    color: #666;
    font-family: "Raleway", serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 27px; /* 187.5% */
    max-width: 433px;
}
.big-relation,
.small-relation{
    position: relative;
}
.card-date{
    color: #FFF;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 47px;
    background: #3CD8E8;
    display: inline-block;
    padding: 15px 19px 15px 19px;
    /* margin: -20px 0 0 57px; */
    position: absolute;
    top: 92%;
    left: 10%;
}

.small-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.small-card{
    border-radius: 16px;
    background-color: #FFF;
}
.small-card > .images{
    border-radius: 16px 16px 0px 0px;
}
.small-card .images{
    border-radius: 10px 10px 0px 0px;
}
.small-card-desc{
    padding: 38px 38px 28px 38px;
}
.small-card-title{
    max-width: 198px;
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
}
.small-card-date{
    color: #FFF;
    font-family: Raleway;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    padding: 9px 18px 9px 18px;
    position: absolute;
    border-radius: 47px;
    top: 87%;
    left: 10%;
}
.small-date1{
    background: #95B226;
}
.small-date2{
    background: var(--Purple);
}
.small-date3{
    background: var(--Purple);
}
.small-date4{
    background: #95B226;
}
.stories-btn{
    background-color: var(--Black);
    text-align: center;
    margin-top: 80px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease-in-out;
}
.stories-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: radial-gradient(circle, #FF4500, #FFD700);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.6s ease, height 0.6s ease;
    z-index: -1;
}
.stories-btn:hover {
    color: var(--White);
}
.stories-btn:hover::after {
    width: 300px;
    height: 300px;
}

/* Footer */
footer{
    background-color: var(--Sky-Blue);
}
.footer{
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--Sky-Blue);
    padding: 120px 140px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 16px;
}
.foot-title{
    display: flex;
}
.foot-title-txt{
    color: #FFF;
    font-size: 2.6rem;
    max-width: 206px;
    font-weight: 700;
    line-height: 39.509px; /* 93.75% */
}
.foot-txt{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 400px;
    margin-top: 35px;
    margin-left: 5px;
}
.foot-about{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.foot-about > :nth-child(1) {
    margin-bottom: 12px;
}
.foot-about a{
    text-decoration: none;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    color: #FFF;
    transition: all 0.3s ease;
}
.foot-about a:hover{
    color: #F0AA00;
}
.foot-title2{
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 700;
}
.foot-social > .foot-title2{
    margin-bottom: 32px;
}
.social-icons img:hover{
    transform: scale(1.2);
}


/* Responsive for Smaller screens */
@media screen and (max-width: 576px){
    /* Navbar */
    .Navbar{
        margin: 12px 0px auto;
        padding: 0px 16px 12px 16px;
        border-bottom: 0.5px solid var(--Orange);
    }
    .nav-title,
    .middle-nav,
    .right-nav{
        display: none;
    }
    .Menu{
        display: inline;
    }
    /* Banner */
    .banner{
        flex-direction: column-reverse;
        padding: 0px 10px;
        gap: 20px;
    }
    .banner-title{
        font-size: 2rem;
        line-height: normal;
    }
    .banner-txt{
        font-size: 0.9rem;
        margin: 18px 0;
        max-width: 100%;
    }
    .banner-description{
        justify-items: center;
    }
    .banner-title, .banner-txt{
        text-align: center;
    }
    .banner-btn{
        width: 131px;
        font-size: 1rem;
    }
    /* Curriculum */
    .curriculum{
        padding-top: 40px;
        padding-bottom: 20px;
        background-image: url(../Images/bg.png);
    }
    .curriculum-title{
        /* margin-top: 60px; */
        margin-bottom: 20px;
        font-size: 1.75rem;
    }
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 13px;
        margin: 0px 2px;
    }
    .edu-card{
        border-radius: 18.864px;
        padding: 36px 28px;
        height: auto;
    }
    .card-title{
        font-size: 1rem;
        margin: 22px 0;
    }
    .card-txt{
        font-size: 0.8rem;
        margin: 22px 0;
    }
    .card-btn{
        font-size: 0.9rem;
    }
    .direction{
        display: none;
    }
    /* Marquee */
    .marquee-container {
        border-radius: 8px;
        margin-bottom: 20px;
    }
    .marquee-text {
        font-size: 1rem;
    }
    /* Stories */
    .stories-title{
        font-size: 1.75rem;
        margin-bottom: 20px;
    }
    .stories-card-container{
        margin-top: 20px;
        padding: 0 15px;
    }
    .big-card{
        display: none;
    }
    .small-card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .small-card-desc{
        padding: 22px 22px 17px 22px;
    }
    .small-card-date{
        font-size: 0.6rem;
        padding: 7px 14px 7px 14px;
        top: 85%;
        left: 10%;
        /* display: none; */
    }
    .stories-btn{
        margin-top: 20px;
        width: 144px;
        font-size: 1rem;
        padding: 3px 10px;
    }
    /* Footer */
    .footer{
        padding: 40px 20px;
        grid-template-columns: repeat(1, 1fr);
        justify-items: left;
        gap: 32px;
    }
    .foot-title-txt{
        font-size: 2.1rem;
    }
    .foot-txt{
        font-size: 1rem;
    }
    .foot-title2{
        font-size: 1.25rem;
    }
    .foot-about{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .foot-about > :nth-child(1) {
        margin-bottom: 10px;
    }
    .foot-about a{
        font-size: 1rem;
    }
    .foot-social > .foot-title2{
        margin-bottom: 24px;
    }
}

/* Responsive for Medium screens */
@media screen and (min-width: 576px) and (max-width: 992px){
    /* Navbar */
    .Navbar{
        margin: 16px 0px auto;
        padding: 0px 20px 16px 20px;
        border-bottom: 1px solid var(--Orange);
    }
    .middle-nav,
    .right-nav{
        display: none;
    }
    .Menu{
        display: inline;
    }
    /* Banner */
    .banner{
        flex-direction: column-reverse;
        padding: 0px 10px;
        gap: 32px;
    }
    .banner-title{
        font-size: 3rem;
        line-height: normal;
    }
    .banner-txt{
        font-size: 1rem;
        margin: 20px 0;
        max-width: 100%;
    }
    .banner-description{
        justify-items: center;
    }
    .banner-title, .banner-txt{
        text-align: center;
    }
    .banner-btn{
        width: 150px;
        font-size: 1.2rem;
    }
    /* Curriculum */
    .curriculum{
        padding-top: 40px;
        padding-bottom: 20px;
        background-image: url(../Images/bg.png);
    }
    .curriculum-title{
        /* margin-top: 60px; */
        margin-bottom: 20px;
        font-size: 2rem;
    }
    .card-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 13px;
        margin: 0 16px;
    }
    .edu-card{
        border-radius: 18.864px;
        padding: 36px 24px;
        height: auto;
    }
    .card-title{
        font-size: 1.1rem;
        margin: 22px 0;
    }
    .card-txt{
        font-size: 0.9rem;
        margin: 22px 0;
    }
    .card-btn{
        font-size: 1rem;
    }
    .direction{
        margin-top: 20px;
    }
    .marquee-container {
        margin-bottom: 25px;
    }
    /* Stories */
    .stories-title{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .stories-card-container{
        margin-top: 20px;
        padding: 0 15px;
        gap: 20px;
    }
    .card-date{
        padding: 10px 15px 10px 15px;
    }
    .small-card-container{
        gap: 15px;
    }
    .small-card-desc{
        padding: 22px 22px 17px 22px;
    }
    .small-card-date{
        font-size: 0.6rem;
        padding: 7px 14px 7px 14px;
        top: 85%;
        left: 10%;
        /* display: none; */
    }
    .stories-btn{
        margin-top: 20px;
        width: 144px;
        font-size: 1rem;
        padding: 7px 10px;
    }
    /* Footer */
    .footer{
        padding: 80px 60px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: left;
        gap: 48px;
    }
}